//VARIABLES
	//FONTS
$font1: 'Montserrat', sans-serif;
$font2: 'Source Sans Pro', sans-serif;

	//COLORS
$grey: #999999; 
$greyBG: #f3f3f3;
$black: black;
$white: white;
$overlayColor: rgba(0, 0, 0, 0.8);
$facebook: #3d599b;
$twitter: #5cadff;
$google: #fd4142;
$ArrowBG: rgba(255, 255, 255, 0.1);